* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}

body, html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

:root {
    --black: #292929;
    --gray: #f3f3f3;
    --grayoutline: #e7e7e7;
    --anime: #eb4343;
    --photography: #2fcf5f;
    --lifestyle: #f3933a;
    --philanthropy: #2eb2c9;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/header-image.jpg);
    background-attachment: fixed;
    background-position: 50% -300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-items-container {
    width: 94%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-text-wrapper {
    height: auto;
    width: auto;
    color: white;
}

nav {
    z-index: 2;
    width: 100%;
    height: 100px;
    background-color: var(--gray);
    position: sticky;
    top: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, .07);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 50%;
}

.subscribe-box {
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.subscribe-box h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

.subscribe-box input {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--gray);
}

.subscribe-box button {
    width: 100%;
    padding: 20px;
    background-color: var(--black);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}



.categories {
    position: sticky;
    top: 170px;
    background-color: var(--gray);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--grayoutline);
}

.categories h3 {
    font-size: 30px;
    padding-left: 17px;
    margin-bottom: 10px;
    color: var(--black);
}

.categories ul {
    list-style: none;
    padding-left: 20px;
}

.categories li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 20px;
}



.categories li a {
    color: var(--black);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s;
    background-color: #ebebeb;
}

.categories i {
    margin-left: 10px;
    transition: all 0.2s;
}

#cat1 i {color: var(--anime);}
#cat2 i {color: var(--photography);}
#cat3 i {color: var(--lifestyle);}
#cat4 i {color: var(--philanthropy);}

.categories .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.post {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 150px;
    color: var(--black);
    height: 100%;
}

.post-image {
    position: relative;
    overflow: hidden;
}

.post-image img {
    width: 100%;
    border-radius: 10px;
}

.category-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00ccff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

.anime { background-color: var(--anime); }
.photography { background-color: var(--photography); }
.lifestyle { background-color: var(--lifestyle); }
.philanthropy { background-color: var(--philanthropy); }

#cat1:hover {
    color: white;
    background-color: var(--anime);
}
#cat2:hover {
    color: white;
    background-color: var(--photography);
}
#cat3:hover {
    color: white;
    background-color: var(--lifestyle);
}
#cat4:hover {
    color: white;
    background-color: var(--philanthropy);
}
.categories a:hover i {
    margin-left: 20px;
    color: white !important;
}

.post h2 {
    margin-top: 20px;
    font-size: 24px;
}

.post p {
    margin-top: 10px;
    font-size: 16px;
}

.post-meta {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name {
    margin-right: 10px;
    font-weight: bold;
}

.post-date {
    color: #888;
}

.nav-all-container {
    position: relative;
    width: 94%;
    height: 100%;
}

.nav-logo-container {
    width: 150px;
    height: 100%;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links-container {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-links-container a {
    text-decoration: none;
    color: var(--black);
}

#contact {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--black);
    color: white;
}

#contact i {
    margin-left: 10px;
}

.content-container {
    display: flex;
    gap: 40px;
    padding: 40px 70px;
    margin-bottom: 0px;
    color: white;
}

.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    border: 1px solid var(--grayoutline);
    border-radius: 10px;
}

.sidebar {
    width: 40%;
}

.nav-all-container {
    position: relative;
    width: 94%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-container {
    width: 150px;
    height: 100%;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-links-container a {
    text-decoration: none;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle .bar {
    height: 4px;
    width: 25px;
    background-color: var(--black);
    margin: 3px 0;
}

#phil {background-color: var(--philanthropy);}
#life {background-color: var(--lifestyle);}
#phot {background-color: var(--photography);}
#anim {background-color: var(--anime); border: 3px solid var(--nime)}

.read-post {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    max-width: 150px;
    position: relative;
    padding: 20px 50px;
    top: 50px;
    transition: all 0.2s;
}

.read-post i {
    margin-left: 10px;
}

.read-post:hover i {
    margin-left: 15px;
}

#about-us {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/arch_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: var(--black);
}

.tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.tab {
    border: none;
    background-color: var(--gray);
    border: 1px solid var(--grayoutline);
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.tab.active {
    background-color: var(--philanthropy);
    border: 1px solid rgba(255, 255, 255, 0);
    transform: scale(1.2);
    color: white;
}

.tab.active i {
    color: white;
}

.tab:hover i {
    margin-left: 10px;
}

.tab-content {
    max-width: 600px;
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
    color: var(--black);
}

.content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.content.active {
    display: block;
    opacity: 1;
}


.statistic-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.statistic-tab {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    background-color: var(--gray);
    border: 1px solid var(--grayoutline);
    border-radius: 10px;
}
.statistic-tab p {
    font-size: 20px;
    color: var(--black);
}

footer {
    width: 100%;
    height: 300px;
    background-color: var(--gray);
}

.footer-text-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer-text-container h1 {font-family: "Great Vibes", cursive; font-size: 50px;}
.footer-text-container p {margin: 20px 0;}
#author {
    font-size: 20px;
    margin-top: 0;
}

.footer-text-wrapper {
    width: auto;
    height: auto;
}

.footer-text-wrapper a {
    padding: 10px;
    background-color: var(--black);
    border-radius: 10px;
    color: white;
}


.source-image {
    width: auto;
    height: auto;
    background-color: var(--anime);
    position: absolute;
    bottom: -50px;
    left: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.source-image a {
    text-decoration: none;
    color: var(--gray);
}
.source-image span {
    text-decoration: underline;
    color: white;
}

.post-image:hover .source-image {
    bottom: 20px;
}

@media screen and (max-width: 992px) {
    .content-container {
        flex-direction: column;
        padding: 20px;
        margin-bottom: 100px;
    }

    .sidebar {
        width: 100%;
        order: 1;
    }

    .main-content {
        width: 100%;
        order: 2;
    }

    .categories ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .nav-links-container {
        display: none;
        position: absolute;
        top: 100%;
        background-color: var(--gray);
        height: auto;
        right: 0;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        z-index: 1000;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-toggle.active + .nav-links-container {
        display: flex;
    }

    #contact {
        width: 100%;
        text-align: center;
    }

    .statistic-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .tab-content {
        width: 90%;
    }

    .statistic-tab {
        height: 130px;
    }

    #about-us {
        height: 900px;
    }

    .tab-buttons {
        width: 70%;
    }
}




